ul,
li {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.gallery-image {
    width: 360px;
    height: 200px;
}